*{
    box-sizing: border-box;
}

/* General Classes */

body{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1000px; 
}

.cards-wrapper{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    
}

.h1{
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 4rem;
    color:#3695FF;
}

.h2 {
    color: #3677FD;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 1rem;
}

.btn{
    background-color: #fff;
    cursor: pointer;
    transition: all .3s linear;
    font-weight: 600;
    border:2px solid transparent;
    box-shadow: 2px 2px 3px rgba(105, 105, 105, 0.342);
}

/* End of General */

/* Header */

.header{
    background-color: #194277;
    height: 72px;
}

.nav-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:0 auto;
}

.nav-p{
    font-size: 14px;
    font-weight: 400;
    color:#fff;
    margin-right: 4%;
}

.nav-btn{
    color:#194277;
    font-size: 12px;
    width: 112px;
    border-radius: 20px;
    height:30px;  
}

.nav-btn:hover{
    color: #fff;
    background-color:#194277;
    border:2px solid #fff;
}

/* End of Header */

/* First Page */

.first-page {
    background-color: #4b7bec;
    background-image: url(./img/bg.png);
    background-position: center;
    min-height:calc(100vh - 72px);
}

.center--first-page{
    width: 60%;
}

.circle {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: white;
    border:10px solid rgba(192, 217, 233, 0.3);
    margin-bottom: 2rem;
    position: relative;
}

.circle::before{
    content:"";
    display:block;
    width: 160px;
    height:160px;
    border-radius: 50%;
    position: absolute;
    left:0;
    top:0;
    transform: translate(-12%, -12%);
    background-color: rgba(210, 226, 236, 0.233);
}

.h1--first-page {
    color: white;
    font-size: 50px;
    font-weight: 900;
    margin: 1.5rem 0 0.5rem 0;
    text-align: center;
    line-height: 60px;
    letter-spacing: 1.25px;
}

.p--first-page{
    text-align: center;
    margin:0 auto 1rem auto;
    width: 90%;
    color:#fff;
    font-size:16px;
    font-weight: 300;
    line-height: 35px;
}

.btn--first-page{
    color: #3695FF;
    width: 204px;
    height: 55px;
    border-radius: 30px;
    font-size: 16px;
    margin-top: 3rem; 
}
.btn--first-page:hover{
    background-color:  #3b5fe2;
    color:#fff; 
}

/* End of First Page */

/* About Section */

.h1-about{
    margin-bottom: 2rem;
}

.center--about{
    text-align: center;
     margin: 4rem 0;
}

.p--about{
    color:#5A5A5A;
    line-height: 34px;
    font-size: 16px;
    font-weight: 400;
    width: 90%;
}

/* End of About */

/* Experts Section */

.expert {
    color: #3695FF;
    text-align: center;
    background-color: #F1F8FF;
}

.center--experts{
    margin: 4rem 0 0 0;
}

.cards-wrapper--expert{
    background-color: #F1F8FF;
    display: flex;
    justify-content: space-between;
}

.p-expert {
    font-weight: 400;
    color: #5A5A5A;
    line-height: 35px;
    font-size: 16px;
}

.card-expert{
    flex-basis: 30%;
    margin-bottom: 4rem;
    text-align: center;
}

.img-expert{
    width:100px;
    height:100px;
    border-radius: 50%;
    margin:0 auto 3rem auto;
    border:2px solid #B7C0C9;
    padding:1.5rem;
 
}

.img-expert img{
    -o-object-fit: contain;
       object-fit: contain;
    display: block;
}

/* End of Experts Section */

/* Works Section */

.center--works{
    margin:4rem 0;
}
.work-wrapper{
    display: flex;
    justify-content: space-between;
}

.card-work{
    text-align: center;
    flex-basis: 31%;
    margin-bottom: 2rem;
}

/* End of Work Section */

/* Clients Section */

.clients{
    background-color: #F1F8FF;
}

.center--clients{
    margin:4rem 0;
}

.cards-wrapper-client{
    width: 100%;
} 

.card-client{
    flex-basis: 25%;
    height:50px;
    align-items: baseline;
    cursor: pointer;
    text-align: center; 
}

.img-client{
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%; 
}


/* End of Clients Section */

/* Footer Section */

.footer{
    background-color: #4b7bec;
    background-image: url(./img/bg.png);
}

.center--footer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:3rem 0;
    
}

.footer-h1{
    color:#fff;
    font-weight: 300;
    font-size: 44px;
}

.footer-span{
    font-weight: 600;
}

.card-footer{
    text-align: center;
}

.footer-btn{
    font-size:14px;
    color:#3695FF;
    border-radius: 20px;
    height: 40px;
    padding:0 0.2rem;
    width: 150px;
}

.footer-btn:hover{
    color: #fff;
    background-color:#194277;
}

/* End of Footer */



@media screen and (max-width:575.8px){
    /* General */
    
    .h1{
        font-size: 25px;
        margin-bottom: 1.5rem;
        word-wrap: break-word;
    }
    
    .h2{
        font-size: 16px;
        margin-bottom: 0.5rem;
    }

    .h1--first-page {
        font-size: 20px;
        letter-spacing: 0;
        line-height: 25px;
        width: 100%;
    }

    .p{
        font-size: 16px;
    }

    .center{
        width: 90%;
        margin: 1.5rem;
    }
    
    /* End of Genera; */

    /* Header */
    .header{
        background-color: #194277;
        padding: 0.2rem 0;
    }

    .nav-center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:0 auto;
    }

    .nav-p{
        font-size: 10px;
        font-weight: 400;
        color:#fff;
        margin-right: 4%;
        text-align: center;
    }

    .nav-btn{
        color:#194277;
        font-size: 10px;
        border-radius: 20px;
        height:25px; 
        padding:0.2rem; 
        margin-top: 0.7rem;
        width: 25%;
    }

    .nav-btn:hover{
        color: #fff;
        background-color:#194277;
        border:2px solid #fff;
    }

    /* End of Header */

    /* First Page */

    .circle{
        max-width: 110px;
        max-height: 110px;
        margin-bottom: 0;
    }

    .circle::before{
        max-width: 120px;
        max-height:120px;
        transform: translate(-12.5%, -12.5%);
    }

    .p--first-page{
        width: 100%;
        font-size:12px;
        font-weight: 300;
        line-height: 16px;
    }

    .btn--first-page{
        width: 40%;
        height: 40px;
        font-size: 14px;
        margin-top: 1rem; 
    }
    /* End of First Page */

    
    /* About Section */

    .center--about{
        text-align: center;
        margin: 2rem 0;
        background-color:#F1F8FF;
        padding:1rem 0;
    }

    .h1-about{
        margin-bottom: 1rem;
    }
    
    .p--about{
        color:#5A5A5A;
        line-height: 20px;
        font-size: 14px;
        font-weight: 400;
        width: 90%;
        text-align: left; 
    }
    /* End of About */

    /* Experts Section */


    .center--experts{
        margin: 2rem 0 0 0;
    }

    .cards-wrapper--expert{
        background-color: #F1F8FF;
        flex-flow:row wrap;
    }

    .p-expert {
        line-height: 18px;
        font-size: 14px;
        width: 90%;
        margin: 0 auto 0 auto;
    }

    .card-expert{
        flex-basis: 100%;
        margin-bottom: 5%;
        background-color: white;
        padding:10% 0;
        box-shadow: 2px 2px 4px rgba(199, 212, 241, 0.714);
    }

    .img-expert{
        width:50px;
        height:50px;
        margin:0 auto 1rem auto;
        padding:0.5rem;
    }
    
    /* End of Experts */
    
    /* Works Section */

    .center--works{
        margin:2rem 0;
    }
  
    .card-work{
        flex-basis: 100%;
        margin-bottom: 5%;
        box-shadow: 2px 2px 4px rgb(212, 212, 212);
        border-radius: 10px;
    }

    /* End of Work Section */

    /* Clients Section */

    .center--clients{
        margin:1.5rem 0;     
    }

    .cards-wrapper-client{
        padding:0;
    } 

    .card-client{
        flex-basis: 25%;
        height:22px;
    }
    
    /* End of Clients */

    /* Footer */

    .center--footer{
        justify-content: space-between;
        margin:1rem 0;
    }

    .footer-h1{
        font-weight: 300;
        font-size: 16px;
        margin:0 auto;
    }

    .card-footer{
        text-align: center;
    }

    .footer-btn{
        font-size:12px;
        height: 30px;
        margin:1rem auto 0 auto;
    }

    /* End of Footer */
    

}

@media screen and (min-width:576px){

    /* General */
    
    .h1{
        font-size: 25px;
        margin-bottom: 1.6rem;
    }
    
    .h2{
        font-size: 18px;
        margin-bottom: 0.5rem;
    }

    .h1--first-page {
        font-size: 25px;
        letter-spacing: 0.2px;
        line-height: 28px;
        width: 90%;
    }

    .p{
        font-size: 16px;
    }

    .center{
        width: 90%;
        margin: 1.5rem;
    }
    
    /* End of Genera; */

    /* Header */
    .header{
        padding: 0.5rem 0;
    }

    .nav-center{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin:0 auto;
    }

    .nav-p{
        font-size: 10px;
        margin-right: 2.5%;
        align-self: center;
    }

    .nav-btn{
        font-size: 12px;
        border-radius: 20px;
        height:25px; 
        padding:0.2rem; 
        margin-top: 0;
        align-self: center;
    }

    .nav-btn:hover{
        color: #fff;
        background-color:#194277;
        border:2px solid #fff;
    }

    /* End of Header */

    /* First Page */

    .p--first-page{
        font-size: 14px;
        line-height: 18px;
        width: 80%;
    }

    .btn--first-page{
        height: 35px;
        font-size: 14px;
        margin-top: 1.5rem;
    }
    
    /* End of First Page */

    /* About Section */

    .center--about{
        text-align: center;
        margin: 2.5rem 0;
        background-color:#F1F8FF;
        padding:1rem 1rem;
        width: 90%;
    }

    .h1-about{
        margin-bottom: 1rem;
    }

    .p--about{
        color:#5A5A5A;
        line-height: 23px;
        font-size: 16px;
        font-weight: 400;
        width: 100%;
        text-align: left;
        letter-spacing: 0.5px;
    }
    /* End of About */

    /* Experts */
    
    .card-expert{
        flex-basis: 48%;
        box-shadow: 2px 2px 4px rgba(199, 212, 241, 0.714);
        background-color: #fff;
        margin-bottom: 5%;
        padding:2rem 0;
    }

    .center--experts{
        margin: 2rem 0 0 0;
    }

    .cards-wrapper--expert{
        background-color: #F1F8FF;
        flex-flow:row wrap;
    }

    .p-expert {
        line-height: 22px;
        font-size: 14px;
        width: 90%;
        margin: 0 auto 0 auto;
    }

     .img-expert{
        width:70px;
        height:70px;
        margin:0 auto 1rem auto;
        padding:1rem;
    }

    /* End of Experts */

    /* Works Section */

    .center--works{
        margin:2rem 0;
        justify-content: space-between;
    }
  
    .card-work{
        flex-basis: 48%;
        margin-bottom: 1.5rem;
    }

    /* End of Work Section */

    /* Clients Section */

    .center--clients{
        margin:1.5rem 0;     
    }

    .cards-wrapper-client{
        padding:0;
    } 

    .card-client{
        flex-basis: 25%;
        height:30px;
    }

    /* Footer Section */
    
    .center--footer{
        justify-content: center;
        margin:1rem 0;
    }

    .footer-h1{
        font-weight: 300;
        font-size: 22px;
        margin:0 auto;
        line-height: 25px;
    }

    .card-footer{
        text-align: center;
    }

    .footer-btn{
        font-size:14px;
        height: 30px;
        margin:0 auto 0 auto;
        
    }

    /* End of Footer */
    
}

@media screen and (min-width:768px){
      /* General */
    
    .h1{
        font-size: 35px;
        margin-bottom: 2.5rem;
    }

    .h1-about{
        margin-bottom: 1.5rem;
    }
    
    .h2{
        font-size: 22px;
    }

    .h1--first-page {
        font-size: 35px;
        letter-spacing: .8px;
        line-height: 42px;
        width: 90%;
    }

    .p{
        font-size: 18px;
    }

    .center{
        width: 90%;
        margin: 1.5rem;
    }
    
    /* End of Genera; */

    /* Header */
    .header{
        padding:0;
    }
    
    .nav-center{
        align-items: center;
        justify-content: center;
    }

    
    .nav-p{
        font-size: 14px;
        margin-right: 3%;
        align-self: center;
    }

    .nav-btn{
        font-size: 16px;
        height:34px; 
        padding:0.2rem; 
        margin-top: 0;
    }

    /* End of Header */

    /* First Page */

    .circle{
        max-width: 140px;
        max-height: 140px;
        margin-bottom: 2rem;
    }

    .circle::before{
        max-width: 160px;
        max-height:160px;
        transform: translate(-12.5%, -12.5%);
    }

    .p--first-page{
        font-size:16px;
        line-height: 22px;
    }

    .btn--first-page{
        width: 30%;
        height: 45px;
        font-size: 16px;
        margin-top: 1.5rem; 
    }
    /* End of First Page */

    /* About Section */

    .center--about{
        margin: 3rem 0;
        padding:2rem 1rem;
        width: 85%;
    }

    .p--about{
        line-height: 25px;
        font-size: 18px;
        text-align: left;
        letter-spacing: 0.3px;
    }
    /* End of About */

    /* Experts Section*/

    .center--experts{
        margin: 3rem 0 0 0;
    }

    .cards-wrapper--expert{
        background-color: #F1F8FF;
        flex-flow:row wrap;
    }

    .p-expert {
        line-height: 22px;
        font-size: 16px;
        width: 90%;
        margin: 0 auto 0 auto;
    }

    .card-expert{
        flex-basis: 48%;
        margin-bottom: 5%;
        padding:2rem 0;
        box-shadow: 2px 2px 4px rgba(199, 212, 241, 0.714);
        background-color: #fff;
    }

    .img-expert{
        width:70px;
        height:70px;
        margin:0 auto 1rem auto;
        padding:1rem;
    }

    /* Works Section */

    .center--works{
        margin:2rem 0;
        justify-content: space-between;
    }
  
    .card-work{
        flex-basis: 48%;
        margin-bottom: 5%;
        box-shadow: 2px 2px 4px rgb(212, 212, 212);
        border-radius: 10px;
    }

    /* End of Work Section */

    /* Clients Section */

     .center--clients{
        margin:2rem 0;     
    }

    .cards-wrapper-client{
        padding:0;
    } 

    .card-client{
        flex-basis: 25%;
        height:40px;
    }

    /* End of Clients */

    /* Footer Section */

    .center--footer{
        justify-content: space-between;
        margin:1.5rem 0;
    }

    .footer-h1{
        font-weight: 300;
        font-size: 25px;
        margin:0 auto;
        line-height: 30px;
    }

    .card-footer{
        text-align: center;
    }

    .footer-btn{
        font-size:16px;
        height: 35px;
        margin:0 auto 0 auto;
        
    }

}

@media screen and (min-width:992px){
      /* General */
    
    .h1{
        font-size: 38px;
        margin-bottom: 2.5rem;
    }
    
    .h2{
        font-size: 24px;
    }

    .h1--first-page {
        font-size: 40px;
        letter-spacing: 0.2px;
        line-height: 45px;
        margin-bottom: 1rem;
    }

    .p{
        font-size: 20px;
    }

    .center{
        margin: 3rem;
    }
    
    /* End of Genera; */

    /* Header */
    .header{
        padding: 1rem 0;
    }

    .nav-p{
        font-size: 14px;
        font-weight: 400;
        margin-right: 4%;
    }

    .nav-btn{
        font-size: 17px;
        height:30px; 
        margin: 0.5rem 0;
    }

    /* End of Header */

    /* First Page */

    .circle{
        max-width: 150px;
        max-height: 150px;
        margin-bottom: 2.5rem;
    }

    .circle::before{
        max-width: 170px;
        max-height:170px;
        transform: translate(-12.5%, -12.5%);
    }

    .p--first-page{
        font-size:16px;
        line-height: 22px;
        width: 80%;
    }

    .btn--first-page{
        width: 20%;
        height: 45px;
        font-size: 17px;
        margin-top: 1.5rem; 
    }

    /* End of First Page */

    /* About Section */

    .center--about{
        margin: 2.5rem 0;
        padding:1rem 1rem;
        width: 75%;
        background-color: transparent;
    }

    .h1-about{
        margin-bottom: 1rem;
    }

    .p--about{
        line-height: 25px;
        font-size: 18px;
        letter-spacing: 0.2px;
        text-align: left;
    }
    /* End of About */

    /* Experts Section */

    .center--about{
        margin: 3rem 0;
        padding:2rem 1rem;
        width: 85%;
    }

    .p--about{
        line-height: 25px;
        font-size: 18px;
        text-align: left;
        letter-spacing: 0.3px;
    }
    /* End of About */

    /* Experts Section*/

    .center--experts{
        margin: 3rem 0 3rem 0;
        width: 70%;
    }

    .p-expert {
        line-height: 22px;
        font-size: 16px;
        width: 90%;
    }

    .card-expert{
        padding:2.5rem 0;
    }

    .img-expert{
        width:75px;
        height:75px;
    }
    
    /* End of Experts */

    /* Works Section */

    .center--works{
        justify-content: space-between;
        width: 70%;
    }
  
    .card-work{
        flex-basis: 48%;
        margin-bottom: 2rem;
    }

    /* End of Work Section */

    /* Clients */

    .center--clients{
        margin:2rem 0;     
    }

    .cards-wrapper-client{
        padding:0;
        justify-content: center;
    } 

    .card-client{
        height:45px;
        flex-basis: 15%;
    }

    /* End of Clients */

    /* Footer */

    .center--footer{
        justify-content: center;
        margin:1.5rem 0;
        width: 70%;
    }

    .footer-h1{
        font-weight: 300;
        font-size: 25px;
    }

    .footer-btn{
        font-size:18px;
    }
    
    /* End of Footer */
    
}

@media screen and (min-width:1200px){
        /* General */
    
    .h1{
        font-size: 50px;
        margin-bottom: 4rem;
    }
    
    .h2{
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 1rem;
    }

    .h1--first-page {
        font-size: 50px;
        margin: 1.5rem 0 0.5rem 0;
        line-height: 60px;
        letter-spacing: 1.25px;
    }

    .p{
        font-size: 20px;
    }

    .center{
        margin: 3rem;
    }
    
    /* End of Genera; */

    /* Header */
    .header{
        padding: 2rem 0;
    }

    .nav-p{
        font-size: 14px;
        margin-right: 4%;
    }

    .nav-btn{
        font-size: 15px;
        width: 112px;
        border-radius: 20px;
        height:30px;  
    }

    /* End of Header */

    /* First Page */

    .circle::before{
        content:"";
        display:block;
        width: 160px;
        height:160px;
        border-radius: 50%;
        position: absolute;
        left:0;
        top:0;
        transform: translate(-12.5%, -12.5%);
        background-color: rgba(210, 226, 236, 0.233);
    }

    /* End of First Page */

    /* About Section */

    .center--about{
        margin: 4rem 0;
        width: 90%;
        background-color: transparent;
    }

    .p--about{
        line-height: 34px;
        font-size: 18px;
        text-align: center;
        width: 100%;
    }

    .h1-about{
        margin-bottom: 2rem;
    }

    /* End of About */

    /* Experts Section */

    .center--experts{
        margin: 4rem 0 2rem 0;
        width: 100%;
    }

    .p-expert {
        line-height: 35px;
        font-size: 16px;
        width: 90%;
    }

    .card-expert{
        padding:2.5rem 0;
        flex-basis: 31%;
        background-color: transparent;
        box-shadow: none;
        margin:0;
    }

    .img-expert{
        width:100px;
        height:100px;
        padding:1.5rem 0;
        margin-bottom: 2rem;
    }
    
    /* End of Expert */

    /* Works Section */

    .center--works{
        justify-content: space-between;
    }

    .card-work{
        flex-basis: 31%;
        margin-bottom: 2rem;
    }

    /* End of Work Section */

    /* Clients */

    .center--clients{
        margin:4rem 0;
        width: 100%;
    }

    .cards-wrapper-client{
        width: 100%;
    } 

    .card-client{
        flex-basis: 25%;
        height:50px;
    }
        
    /* End of Clients */

    /* Footer Section */

    .footer-h1{
        font-size: 44px;
        letter-spacing: 0.8px;
    }

    .footer-btn{
        font-size:14px;
        height: 40px;
        padding:0 0.2rem;
        width: 150px;
    }

    /* End of Footer */
  
}
}
